*{
    box-sizing: none;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
  width: 100%;
  /* margin: 5px; */

}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 99%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border: 1px solid gray;
    margin: 0.5%;
  }
  .whole{
    /* border: 1px solid blue; */
    padding: 0 ;
    margin:0 ; 
  }
.active{
    color:#95b2f7;
    background-color: #E8F1FF;
  }
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
    background-color: #E8F1FF;

  }
.active, .fa-angle-down{
    color: #95b2f7;
    float: right;  
  }
  
  /* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    /* border: 1px solid red; */
  }
.panel h4{
    padding: 12px 0;
    color: #444;
  }
.panel ul {
    list-style-type: none;
  }
.panel ul li{
    padding: 5px;
  }
.fa-check{
  margin-right: 5px;
  color: skyblue;
}